# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
.venv/
ENV/

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# Environments
.env
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
